*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
background-color: white;
font-family: sans-serif;
font-size: 15px;
}

header{
    height: 80px;
}

div img {
    float: left;
    width: 230px;
    margin-right: 13%;
    margin-top: 2px;
    transition: 0.6s;

}
div.sticky{
    padding: 0px 10px;
    background: #fff
}
.menu-bar
{
 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: .6s;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  padding: 10px 30px;

}

.menu-bar ul
{
    position: relative;
    display: flex;
    color: cornsilk;
    justify-content: center;
      
}
.menu-bar ul li
{
    width: 120px;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
    list-style: none;
    
}


.menu-bar ul li a
{
  text-decoration: none ;  
  color: black;
  position: relative;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
  margin: 20px 0;
  
 
 
}

.menu-bar ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.563) ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.583) ;
    transform: scaleY(2.5);
    opacity: 0;
    transition: .5s;
    
}
.menu-bar ul li a:hover:before {
    transform: scaleY(1.7);
    opacity: 1;
    
}


.menu-bar ul li a:hover{
    transition: .2s;
font-weight: bolder;

}

.menu-bar .fa
{
    margin-right: 5px;
}

.fas{
color: #000;
}

li input {
    width: 80px;
    height: 19px;
    text-align: center;
    background-color: rgb(242, 242, 242);
   border-radius: 7px;
}

nav.sticky ul li a{
    color: #000;

}

main section h1{
    background-image: url("https://cdn.shopify.com/s/files/1/0317/0687/3992/files/bg_about.jpg?v=1580377813");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 140px;
    text-align: center;
    font-family: poppins;
    font-size: 200%;
    font-weight: 900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


fieldset {
    border-style: hidden;
    color: rgba(9, 48, 16, 0.919);
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    padding: 30px;
}

input[type=button] {
    background-color: rgba(9, 48, 16, 0.919);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    border-radius: 50px 20px;
    font-size: 18px;
    margin-left: 41%;
}

fieldset input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
}

main form {
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 4px 8px 0 rgba(9, 48, 16, 0.919), 0 6px 20px 0  rgba(9, 48, 16, 0.919);

}

legend{
    font-weight: 900;
    padding-top: 30px;
    font-size: x-large;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    color: rgba(9, 48, 16, 0.919);
    font-size: 16px;
    resize: none;
  }

  footer{
    background:rgba(9, 48, 16, 0.919) ;
    background-size: cover;
    background-position: center;
    text-align: center;  
    margin-top: 20%; 
    font-size: 15px;
    color: #fff;
    padding: 2px;
    
  }
  footer .info{
      float:left;
  }
  footer .info ul {
      display: inline-flex;
      list-style: none;
      margin-top: 28px;
  }
  
  footer .info ul li {
      margin : 9px 1px 1px;
      padding: 27px;
      margin-left: 10px;
  }
  footer .info ul li a {
      color: white;
  
  }
  footer .socialMedia{
      float: right;
      
  }
  footer .socialMedia ul{
      display: inline-flex;
      list-style: none;
      margin-top: 28px;
      
  }
  footer .socialMedia ul li {
      margin : 9px 1px 1px;
      padding: 25px;
      margin-right: 10px;
      
  }
  footer .socialMedia ul li a {
      color: white;
      font-size: 30px;
  }
  footer img {
      width: 130px;
      margin-top: 7px;
      margin-bottom: 7px;
  }


  /* Pop up when click on submit button (مسروقة) */


  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }


  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: rgba(9, 48, 16, 0.919);
    color: white;
  }

  .modal-header h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
  }
  
  .modal-body {
      padding: 2px 16px;
      height: 100px;
      text-align: center;
      font-size: 20px;
      padding-top: 21px;
      font-family: cursive;
      background: rgb(246, 246, 246)
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: rgba(9, 48, 16, 0.919);
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: cursive;
  }


  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 175px;
    background-color: rgba(85, 85, 85, 0.748);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    font-size: 10px;
    height: 25px;
    top: -46px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    /* top: 100%; */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.734) transparent transparent transparent;
    top: 25px;
    left: 80px;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }