*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
background-color: white;
font-family: sans-serif;
font-size: 14px;
}

 div img {
    float: left;
    width: 230px;
    margin-right: 13%;
    margin-top: 2px;
    transition: 0.6s;

}
div.sticky{
    padding: 0px 10px;
    background: #fff
}
.menu-bar
{
 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: .6s;
  align-items: center;
  z-index: 100000;
  padding: 10px 30px;

}

.menu-bar ul
{
    position: relative;
    display: flex;
    color: cornsilk;
    justify-content: center;
      
}
.menu-bar ul li
{
    width: 120px;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
    list-style: none;
    
}


.menu-bar ul li a
{
  text-decoration: none ;  
  color: black;
  position: relative;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
  margin: 20px 0;
  
 
 
}

.menu-bar ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.563) ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.583) ;
    transform: scaleY(2.5);
    opacity: 0;
    transition: .5s;
    
}
.menu-bar ul li a:hover:before {
    transform: scaleY(1.7);
    opacity: 1;
    
}


.menu-bar ul li a:hover{
    transition: .2s;
font-weight: bolder;

}

.menu-bar .fa
{
    margin-right: 5px;
}

.fas{
color: #000;
}

li input {
    width: 70px;
    height: 19px;
    text-align: center;
    background-color: rgb(242, 242, 242);
   border-radius: 7px;
}

nav.sticky ul li a{
    color: #000;

}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: rgba(85, 85, 85, 0.748);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    font-size: 10px;
    
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.734) transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
section {
    padding: 0;
    margin: 0;
    background: white;
    height: 601px;
}
.slidershow {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}

.navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(9, 48, 16, 0.919) ;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;

}
.bar:hover{
    background: rgba(9, 48, 16, 0.919);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex
}

.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content:center ;
    margin-top: 400px;
}
.navigation-auto div{
    border: 1px solid white;
    padding: 5px;
    border: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#r1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#r2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#r3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}

#imgs{
    margin-top: 300px;
    margin-bottom: 10%;
}

#imgs div{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-left: 115px;
    box-shadow: 0 6px 10px 0 rgba(9, 48, 16, 0.919), 0 8px 22px 0  rgba(9, 48, 16, 0.919);
    width: 300px;
    height: 350px;
}

#imgs div img{
    width: 300px;
    height: 350px;
    margin-bottom: 25px;
    
}

#imgs div h2{
    color: rgba(9, 48, 16, 0.919);
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
}

.bio {
    position: absolute;
    top: 0;
    height: 350px;
    width: 300px;
    background: rgba(217, 223, 217, 0.459);
    color:rgba(0, 0, 0, 0.815);
    text-align: center;
    font-size: 150%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s, visibility .6s;
    padding-top: 120px;
   
}

.hover:hover .bio{
    visibility: visible;
    opacity: 1;

}

#imgs h1 {
    color: rgba(9, 48, 16, 0.919);
    font-size: 350%;
    text-align: center;

}

.hover{
    position: relative;
    width: 300px;
    height: 350px;
}

.s
#about-us{
    width: 100%;
    /* background-color: rgb(242, 242, 242); */
   
    /* border: 8px solid green; */
    /* padding: 50px;
    margin: 20px; */
    font-style: normal;
}

#about-usimg{
    width: 47%;
    float: left;
    margin-left: 3px;
    position: relative;

}



#about-uspara{
    width: 53%;
   float: right;
    font-size:x-large;
    position: relative;
    margin-right:20px ;
    margin-left: 80px;
    box-shadow: 0 4px 8px 0 rgba(9, 48, 16, 0.919), 0 6px 20px 0  rgba(9, 48, 16, 0.919);
    padding: 20px;
    height: 393.962;
    bottom: 250px;


}

#about-us h1{
    color:rgba(9, 48, 16, 0.919);
    font-size: 350%;
    text-align: center;
    animation: move 2s;
  -webkit-animation: move 2s;
}

@keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


footer{
  background:rgba(9, 48, 16, 0.919) ;
  background-size: cover;
  background-position: center;
  text-align: center;  
  margin-top: 20%; 
  font-size: 15px;
  color: #fff;
  padding: 2px;
  
}
footer .info{
    float:left;
}
footer .info ul {
    display: inline-flex;
    list-style: none;
    margin-top: 28px;
}

footer .info ul li {
    margin : 9px 1px 1px;
    padding: 27px;
    margin-left: 10px;
}
footer .info ul li a {
    color: white;

}
footer .socialMedia{
    float: right;
    
}
footer .socialMedia ul{
    display: inline-flex;
    list-style: none;
    margin-top: 28px;
    
}
footer .socialMedia ul li {
    margin : 9px 1px 1px;
    padding: 25px;
    margin-right: 10px;
    
}
footer .socialMedia ul li a {
    color: white;
    font-size: 30px;
}
footer img {
    width: 130px;
    margin-top: 7px;
    margin-bottom: 7px;
}

